header{
	display:inline-block;
	// width:100%;
	position: fixed;
		top : 0px;
		left : 0px;
	z-index:100000000;
	background: #FFF;
	height:102px;
	width:100%;
	div.header{
		div.header-logo{
			float:left;
			width:20%;
			img{
				width:100%;
			}
		}
		nav.header-menu{
			width:80%;
			background: #FFFFFF;
			// display:inline-block;
			margin:0px;
			float:left;
			a.mobile-menu{
				display:none;
			}
			ul.menu{
				margin-bottom:0px;
				li{
					float:left;
					border-left: 1px dashed #dddddd;
					a{
						h1.gothic{
							@include setFont(14px,#5b5b5b,bold, $font-gothic);
							display:block;
						}
						h1.mincho{
							@include setFont(14px,#d84f3a,bold,$font-mincho);
							margin-bottom:13px !important;
						}
						text-decoration: none;
						display:block;
						text-align: center;
						display:table-cell;
						vertical-align: middle;
						height:102px;
						width:120px;
						i{
							float:left;
							@include setFont(16px,#FFF);
							@include setBorderRadius(50%);
							background: #433c30;
							line-height:40px;
							width:40px;
							height:40px;
							margin-left:20px;
						}
					}
					&:nth-last-child{
						border-right: none;
					}
				}
			}
		}
	}
}
